.menu2-container {
  padding-top: 72px;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
  font-family: "Lato", sans-serif;
  position: relative;
}

.menu2-container .menu2-header{
  padding-block: 10px;
}
.menu2-container .menu2-header h1{
padding-inline: 20px;
padding-top: 20px;
}


.menu2-container .menu2-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}

.menu2-container .menu2-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 500px;
  height: 304px;
  border-radius: 0 0 40px 40px;
  position: relative;
  overflow: hidden; 
  justify-content: center;
  display: flex;
  align-items: center;
}

.menu2-container .menu2-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.menu2-container .menu2-img h1 {
  font-family: Lato;
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  z-index: 1;
}

.menu2-container .menu2-content {
  padding-inline: 20px;

}

.accordion-section {
  margin: 1em 0;
}

.accordion-section h2 {
  cursor: pointer;
  background: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.accordion-content {
  padding: 10px;
  border: 1px solid #3f0606;
  border-radius: 4px;
  border-top: none;
}

.accordion-section{
  border: 0;
  margin-bottom: 20px;

}

.accordion-section h2{
background: transparent;
border: 0;
border-bottom: 1.5px solid #7F8288;
} 

.accordion-section h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.accordion-content{
  border: none;
  
}

.accordion-section .accordion-content .accordion-card{
  display: flex;
  width: 100%;
  overflow-x: auto;
  gap: 20px;
  
  
}

.accordion-card::-webkit-scrollbar {
  display: none;
}

.accordion-card {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.home-b .accordion-section .acordion-card2{
  display: flex;
  flex-direction: column;
  width: 100%
}

/* .accordion-section .fa-chevron-down {
  transform: rotate(180deg); 
} */

