.menu2-container {
  padding-top: 60px;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
  font-family: "Lato", sans-serif;
  position: relative;

}

.menu2-container .menu2-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}

.menu2-container .menu2-img {
  max-width: 500px;
  height: 304px;
  position: relative;
}
/* .menu2-container .menu2-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
} */


.menu2-container .menu2-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 40px;

}
.menu2-container .menu2-heading h1{
font-family: Lato;
font-size: 40px;
font-weight: 900;
color: #fff;
position: absolute;
top: 24%;
left: 30%;
transform: translate(50%, -50%);
}

.menu2-container .menu2-content{
  padding-inline: 20px;

}


