.menu2-container {
  padding-top: 60px;
  /* padding-inline: 24px; */
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}

.menu2-container .menu2-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}

.menu2-container .menu2-img {
  max-width: 500px;
  height: 304px;
}