.footer-wrapper {
  width: 100%;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  background-color: #fff;
  position: fixed;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: -2px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
  border-radius: 12px 12px 0px 0px;
}

.footer-wrapper .footer-links {
  display: flex;
  text-align: center;
  position: relative;
}

.footer-wrapper img{
  width: 100%;
  height: 100%;
}

.footer-wrapper .footer-links .footerIcon{
  width: 45px;
  height: 35px;
  object-fit: contain;
}

.footer-wrapper .footer-links a {
  text-decoration: none;
  color: #8C8C8C;
}


.footer-wrapper .footer-links button {
  border: none;
  background: transparent;
}

.footer-wrapper .footer-links button p {
  font-size: 18px;
  color: #8C8C8C;
}

.footer-wrapper .footer-links .icon {
  font-size: 30px;
  color: #8C8C8C;
  padding-block: 6px;

}

.footer-wrapper .footer-links .badge {

  position: absolute;
  top: -10px;
  background-color: #8C8C8C;
  color: white;
  border-radius: 50%;
  padding: 1px;
  height: 20px;
  width: 20px;
  left: 20px;
  font-size: 12px;
  text-align: center;
  align-content: center;

}