.home-container {
  padding-top: 60px;
  padding-inline: 20px;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
  position: relative;
}

.home-container .menu h1 {
  margin-top: 30px;
  margin-bottom: 20px;
  color: #1f1f1f;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.home-container img {
  width: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.home-container .home-content_img {
  border-radius: 15px;
  width: 200px;
  height: 150px;
  overflow: hidden;
}

/* .home-container .home-content .contents {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2px;
  width: 100%;
  padding-block: 20px;
  margin-block: 20px;
  border-radius: 12px;
  padding-inline: 20px;
  margin-bottom: 40px;
} */

/* .home-container .home-content .home-content-desc {
  display: flex;
  flex-direction: column;
} */

/* .home-container .home-content .contents span {
  background-color: #1f1f1f;
  padding: 6px;
  color: #fff;
  border-radius: 15px;
  width: 130px;
  /* height: 28px; */
/* } */ 

/* .home-container .home-content .contents h4 {
  font-size: 15px;
  font-weight: 700;
  color: #1f1f1f;
  padding-block: 8px;
} */

/* .home-container .home-content .contents p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #8C8C8C;
} */

/* .home-container .home-content .contents .price-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 10px;
} */

/* .home-container .home-content .contents .price-btn p {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #1f1f1f;
} */


/* .home-container .home-content .contents .price-btn button {
  border: none;
  background: transparent;
} */

/* .home-container .home-content .contents .price-btn button .icon {
  font-size: 18px;
} */

/* .home-container .home-content .contents .price-btn .btn {
  width: 30px;
  height: 30px;
  box-shadow: none;
  border-radius: 50%;
  align-items: center;
  text-align: center;
  border: 2px solid #1f1f1f;
} */

/* .home-container .home-content .contents .price-btn #selectedIcon{
    width: 32px;
    height: 35px;
    box-shadow: none;
    border-radius: 50%;
    align-items: center;
    text-align: center;
   background: #1f1f1f;
   color: white;
   z-index: 9;
  } */

/* .home-container .home-content .contents .price-btn .btn {
  width: 30px;
  height: 30px;
  box-shadow: none;
  border-radius: 50%;
  align-items: center;
  text-align: center;
  border: 2px solid #1f1f1f;
} */

/* .home-container .home-content .contents .price-btn .btn2 {
  width: 30px;
  height: 30px;
  box-shadow: none;
  border-radius: 50%;
  align-items: center;
  text-align: center;
  background: #141212;
  color: #fff;
  /* border: 2px solid #1f1f1f; */
/* }  */

/* 
.home-container .home-content .contents .price-btn .btn:hover {
  background: black;
  color: white;
} */

.scroll-btns{
    bottom: 90px;
    right:  415px;
    position: fixed;

}

.scroll-btns .scrol-btn {
  background: #141212;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 16px ;
  opacity: 0px;
  font-size: 18px;
}

   /*<div className="home-content">
        {filteredItems.map((item) => (
          <div key={item.ItemCard}>
          <h1>{item.category}</h1>
            <ItemCard key={item.id} item={item} />
          </div>
        ))}
      </div>*/   /*<div className="home-content">
        {filteredItems.map((item) => (
          <div key={item.ItemCard}>
          <h1>{item.category}</h1>
            <ItemCard key={item.id} item={item} />
          </div>
        ))}
      </div>*/


      @media screen and (max-width: 768px){
        .scroll-btns{
          bottom: 90px;
          right:  35px;
          position: fixed;
      
      }
    }