.tabs-container{
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.tab {
  padding: 15px 20px;
  cursor: pointer;
  margin-right: 10px;
  /* width: 100px; */
  height: 37px;
  display: flex;
  color: #1f1f1f;
  border-radius: 8px;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  border: none;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  cursor: pointer;
}

.tab:hover{
  background: #dbd8d8;
}

.tab.active {
  background: #1f1f1f;
  color: #fff;
}



/* .tabs-container button {
  width: 100px;
  height: 37px;
  color: #1f1f1f;
  border-radius: 8px;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  border: none;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  cursor: pointer;
} */


/* .tabs-container butto:hover{
  background: #1f1f1f;
  color: #fff;
}

.tab:nth-child(4){
  width: 130px;
} */

.tabs-container button.active {
  background-color: #072748;
  color: white;
}