@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.btn{
  width: 100px;
  height: 37px;
  color: #1f1f1f;
  border-radius: 8px;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  border: none;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.btn:hover{
 background: #1f1f1f;
 color: #fff;
}


